<!DOCTYPE html>
<html>
<head>
  <title>Quizzes</title>
  <%= stylesheet_link_tag    "quizzes/application", media: "all" %>
  <%= javascript_include_tag "quizzes/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
